/*body {
    background-color: black;
}

h1 {
    color: white;
}

p {
    color: white;
}

 #p1 {
    color: red;
}

#p2 {
    color: yellow;
}

#p3 {
    color: blue;
}

#p4 {
    color: orange;
}

.odd {
    color: red;
}

.even {
    color: gold;
}  *

#h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* font-size: 50px; */
    /* font-size: 10%; */
    /* font-size: 1em;
    font-weight: intalic;  

}

h1 {
    /* border-style: solid;
    border-width: 10px;
    border-color: blueviolet;  
    border:  solid 5px red;
    border-radius: 5px;
} 

#p1 {
    border-bottom: 3px solid red;
    border-left: 3px dotted red;
    border-right: 3px dashed red;
   
} */





