/*body {
    background-color: black;
}

h1 {
    color: white;
}

p {
    color: white;
}

 #p1 {
    color: red;
}

#p2 {
    color: yellow;
}

#p3 {
    color: blue;
}

#p4 {
    color: orange;
}

.odd {
    color: red;
}

.even {
    color: gold;
}  *

#h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* font-size: 50px; */
    /* font-size: 10%; */
    /* font-size: 1em;
    font-weight: intalic;  

}

h1 {
    /* border-style: solid;
    border-width: 10px;
    border-color: blueviolet;  
    border:  solid 5px red;
    border-radius: 5px;
} 

#p1 {
    border-bottom: 3px solid red;
    border-left: 3px dotted red;
    border-right: 3px dashed red;
   
} 

h1 {
    text-shadow: 3px 3px 2px red, -3px -3px 2px blue;
}


#box1 {
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    box-shadow: 3px 3px 5px red;
}

body{
    margin: 0px;
}


.box {
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
   
     margin: 50px auto;
}

#box1 {
    background-color: lightcoral;
    /* margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px; 
    
    
}

#box2 {
    background-color: lightgreen;
    
} 


body {
    border: 3px solid;
    display: flow-root;

}

#img1 {
   float: left;
   margin-right: 10px;
}
#img2 {
   float: right;
   margin-right: 10px;
}  


#div1 {
    border: 2px solid;
    height: 50px;
    /* overflow: clip;
    overflow-clip-margin: 26px; 
    overflow: auto;
}


#div1 {
    background-color: lightgreen;
    width: 100px;
    height: 100px; 
    /* display:  inline-block;
    visibility: hidden; 
}

#span1 {
    background-color: lightpink;
    width: 100px;
    height: 100px;
    /* display: inline-block;
    visibility: none; 

} 

.container {
    background-color: lightgreen;
    height: 100vh;
}

.box {
    background-color: lightcyan;
    border: 2px solid;
    padding: 25px;
    box-sizing: border-box;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;

    /* max-width: 50%; 
    min-width: 100%; 
    min-height: 70%;


}  

#box1 {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    position: static;
   top: 100px;
    left: 100px;
   position: fixed;
   right: 0px;
   bottom: 0px; 
   top: 0px;
    left: 100px;

}

#box2 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 50px;
    left: 50px;

}
#box3 {
    width: 50px;
    height: 50px;
    background-color: lightcyan;
    position: absolute;
    top: 25px;
    left: 25px;

}  

#container {
    border: 2px solid;
}

/* #container p {
    background: lightgreen;
} 

#container > p {
      background: lightgreen;
}

#container ~ p {
     background: lightgreen;
}

#container + p {
     background: lightgreen;
}  


#atag:hover {
    color: red;
    font-size: 1.1em;
} 

#atag:active {
   color: red;
   font-size: 1.1em;
}  
#atag:visited {
   color: blue;
   font-size: 1.1em;
}  

li:hover {
    background-color: lightblue;
}

li:not(:hover) {
    background-color: lightgreen;
} 


li:nth-child(4n + 1) {
    background-color: lightgreen;
} 


#hello p {
    background-color: lightsalmon;
    padding: 10px;
    display: none;
}
 

#hello:hover p {
    display: block;
}

h1::first-letter {
    font-size: 2em;
    font-style: italic;
}

p::first-line {
    background-color: lightgreen;

}

p::selection {
    color: white;
    background-color: red;

}

#fruit li::before{
    
}

#apple::after{
    content: "🍎";
}
#orange::after{
    content: "🍊";
}
#apple::after{
    content: "🍎";
}
#apple::after{
    content: "🍎";
}

#fruit li::marker {
    content: "✔️";
    
}  


.pagination {
    text-align: center;

}

.pagination a {
    color: black;
    text-decoration: none;
    padding: 10px;
    display: inline-block;

}


.pagination a.active {
    background-color: lightgreen;
    font-weight: bold;
    border-radius: 4px;
}

.pagination a:hover:not(.active) {
    background-color: gray;
    border-radius: 4px;
} 


.dropdown {
    display: inline-block;
}

.dropdown button {
    background-color: lightblue;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}


.dropdown .content {
    display: none;
    position: absolute;
    background-color: lightgreen;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;

}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button {
    background-color: darkblue;
}
.dropdown a:hover {
    background-color: darkgrey;
} 


.gallery {
    display: inline-block;
    border: 1px solid darkgrey;
    margin: 5px;
    width: 200px;
}

.gallery .description {
    padding: 10px;
    text-align: center;
}

.gallery:hover {
    border: 1px solid darkblue;
}

.gallery img {
    width: 100%;
    height: auto;
}
 
 .container {
    display: flex;
    border: 10px solid;
    height: 90vh;
    /* flex-direction: row; 
    flex-direction: row-reverse;
    flex-direction: column; 
    flex-direction: column-reverse; 
    justify-content: flex-start; 
    justify-content: flex-end; 
    justify-content: center; 
    justify-content: space-between;
    justify-content: space-around; 
    justify-content:space-evenly;
    align-items: flex-start;   
    align-items: center;
    align-items: flex-end;
    flex-wrap: wrap;  
    flex-wrap: wrap-reverse; 
    
    align-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-end;
     align-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    flex-wrap: wrap; 
    flex-wrap: wrap;
   align-content: flex-start;
   column-gap: 1em;
   row-gap: 1em; 
   

 }

 .box {
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 5px;
 }

 #box1 {
    background-color: lightblue;
 }
 #box2 {
    background-color: lightgreen;
 }
 #box3 {
    background-color: lightsalmon;
 }
 #box4 {
    background-color: lightpink;
 }


body {
    margin: 0;
}

#box1 {
    width: 250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;
    background-color: lightgreen;

    /* transform: translate(50px, 50px); 
    transform: rotateZ(180deg); 
    transform: scaleY(2);


} 

body {
    background-color: black;
}

#box {
    width: 250px;
    height: 250px;
    background-color: lightgreen;
    font-size: 13em;
    text-align: center;
    /* animation-name: slideLeft;
    animation-name: slideRight; 
    animation-name: rotate; 
    animation-name: grow;
    animation-name: shrink;  
    animation-name: fade;
    animation-name: colourChange; 
    
    
}

#box:hover {
   animation-name: glow;
    animation-duration: 3s;
}

@keyframes slideLeft{
    from{transform: translateX(400px);}
}
@keyframes slideRight{
    to{transform: translateX(400px);}
}
@keyframes slideUp{
    from{transform: translateY(300%);}
}
@keyframes slideDown{
    from{transform: translateY(300%);}
}
/* @keyframes rotate{
    100%{transform: rotateX(360deg);}
} 
@keyframes rotate{
    100%{transform: rotateY(360deg);}
}
@keyframes rotate{
    100%{transform: rotateZ(360deg);}
}  


@keyframes grow {
    100%{transform: scale(2, 2);}
}
@keyframes shrink {
    50%{transform: scale(0.5, 0.5);}
}  

@keyframes fade {
    100%{opacity: 0;}
} 

@keyframes colourChange{
    0%{background-color: lightsalmon;}
    20%{background-color: lightseagreen;}
    40%{background-color: greenyellow;}
    60%{background-color: blue;}
    80%{background-color: violet;}
    100%{background-color: purple;}
}

@keyframes glow {
    50%{box-shadow: 0px 0px 50px red;}
}  




#Submit {
    font-size: 1em;
} */







